
{% extends 'base.html' %}


{% block content %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for cat,msg in messages %}
    {% if cat == 'user-created'%}
        <div class="alert alert-success">
                {{ msg }}
             <button type="button" class="close" data-dismiss = "alert">&times;</button>
        </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Rent A Car!!</h2>
            <h5>Please.</h5>
            <div>
                <button class="btn btn-primary">Look at our cars!!</button>
                <button class="btn btn-primary">PLEASE. LOOK. AT. THE. CARS.</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="/car_inventory/static/images/st,small,507x507-pad,600x600,f8f8f8.jpeg">
        </div>
    </header>
    <!--End of Header Section-->

    <!--Collection of Features Section-->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="/static/images/Sneezy_XL.webp" >
            <h4>It's the BRAND NEW Sneezy XL</h4>
            <p>
                It's a 45 horsepower with really bad brakes! And it's the official car of Mr.Sneezy 4D!
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="/static/images/images.jpeg" >
            <h4>The Horn</h4>
            <p>
                When you honk, it makes a sneeze noise! *sneeze*
            </p>
        </div>

        <div class="col-12 col-md-4">
            <img src="/car_inventory/static/images/409.jpeg">
            <h4>it's polite, it's right </h4>
            <p>
                And it's Sneezy Deezy McDelux
            </p>
        </div>
    </section>
    <!--End of Collection Features-->

    <section class="row">
        <div class="col-12 col-md-6">
            <img src="/car_inventory/static/images/mr.sneezy.png">
        </div>

        <div class="col-12 col-md-6">
            <h4>Chat with Mr.Sneezy</h4>
            <p>
                He's Mr.Sneezy, fo shizzy.
                He's the sneeziest, deeziest, deluxiest car enthusiast out there!
            </p>
            <div>
                <button class="btn btn-primary">Subscribe to Interdimentional Cable</button>
            </div>
        </div>
    </section>
    <!--End of Community Section-->

    <!--Start of Footer-->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="/car_inventory/static/images/Pickle_rick_transparent_edgetrimmed.webp" >
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Sneezy XL</h4>
                <p>Why not 46 horsepower?</p>
                <p>The Sneezy Deeezy McDelux Phenomenon</p>
                <p>Send A Sneeze</p>
                <p>Spread The Germs</p>
            </div>
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Sneezy XL</h4>
                <p>Why not 46 horsepower?</p>
                <p>The Sneezy Deeezy McDelux Phenomenon</p>
                <p>Send A Sneeze</p>
                <p>Spread The Germs</p>
            </div>
        </div>
    </footer>


</div>

{% endblock content %}